{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": ["prettier"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "backtick"]
  }
}
